$theme-colors: (
  "primary": #ffc107,
  "dark": #191c1f,
  "dark-grey": #303131
);

// @import "./customTheme";
@import "~bootstrap/scss/bootstrap";

body{
  background: black;
}

#circle{
  transform: rotate(-90deg);
}

#countDown figure{
  position: relative;
}
#countDown figcaption{
  position: absolute;
  z-index: 100;
  top: 44px;
  width: 132px;
  text-align: center;
  font-size: 60px;
  line-height: 50px;
}
